[submodule "l10n_bg_vat_reports"]
	path = l10n_bg_vat_reports
	url = git@github.com:rosenvladimirov/l10n-bulgaria-ee.git
[submodule "l10n_bg_assets"]
	path = l10n_bg_assets
	url = git@github.com:rosenvladimirov/l10n-bulgaria-ee.git
[submodule "l10n_bg_intrastat"]
	path = l10n_bg_intrastat
	url = git@github.com:rosenvladimirov/l10n-bulgaria-ee.git
[submodule "l10n_bg_hr_payroll"]
	path = l10n_bg_hr_payroll
	url = git@github.com:rosenvladimirov/l10n-bulgaria-ee.git
