/* colors */
$o-default-report-primary-color: rgb(0, 68, 122) !default;
$o-default-report-primary-header-right-color: rgb(0, 68, 122) !default;
$o-default-report-primary-footer-left-color: rgb(0, 68, 122) !default;
$o-default-report-secondary-color: rgb(245, 245, 245) !default;
$o-default-report-inverse-color: rgb(255, 255, 255) !default;
$o-default-report-base-color: rgb(128, 128, 128) !default;
$o-default-report-footer-background-color: rgb(248, 252, 255) !default;
$o-default-report-background-color: rgb(133, 169, 245) !default;
$o-default-report-border-color: rgb(5, 84, 147) !default;
