/* font */
$o-default-report-font: "SF_Pro_Text";
$o-default-report-font-heading: "SF_Pro_Text";
/* colors */
$o-default-report-primary-color: rgb(0, 68, 122);
$o-default-report-secondary-color: rgb(245, 245, 245);
$o-default-report-inverse-color: rgb(255, 255, 255);
$o-default-report-base-color: rgb(128, 128, 128);
$o-default-report-footer-background-color: rgb(248, 252, 255);
$o-default-report-background-color: rgb(133, 169, 245);
$o-default-report-border-color: rgb(5, 84, 147);
/* portrait */
$o-default-width-report-page: 210mm;
$o-default-height-report-page: 297mm;
/* portrait header */
$o-default-height-report-page-header: 30mm;
$o-default-report-background-header: "";
/* portrait article */
$o-default-height-report-page-article: 247mm;
$o-default-report-background-article: "";
/* portrait footer */
$o-default-height-report-page-footer: 20mm;
$o-default-report-background-footer: "";
/* landscape */
$o-landscape-width-report-page: 297mm;
$o-landscape-height-report-page: 210mm;
/* landscape header */
$o-landscape-height-report-page-header: 30mm;
$o-landscape-report-background-header: "";
/* landscape article */
$o-landscape-height-report-page-article: 160mm;
$o-landscape-report-background-article: "";
/* landscape footer */
$o-landscape-height-report-page-footer: 20mm;
$o-landscape-report-background-footer: "";
