/* colors */
$o-default-report-primary-color: rgb(240, 125, 0);
$o-default-report-secondary-color: rgb(245, 245, 245);
$o-default-report-inverse-color: rgb(255, 255, 255);
$o-default-report-base-color: rgb(87, 86, 86);
$o-default-report-footer-background-color: rgb(248, 252, 255);
$o-default-report-background-color: rgb(227, 187, 148);
$o-default-report-border-color: rgb(177, 134, 90);
