
.o_markdown_content pre {
    background: #2d2d2d;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
.o_markdown_search {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.o_md_icon_container {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000;
}

.o_md_icon_container .fa-book {
    font-size: 24px;
    color: #4caf50;
    cursor: pointer;
    transition: color 0.3s;
}

.o_md_icon_container .fa-book:hover {
    color: #45a049;
}
