/* colors */
$o-default-report-primary-color: rgb(0, 135, 14);
$o-default-report-secondary-color: rgb(245, 245, 245);
$o-default-report-inverse-color: rgb(255, 255, 255);
$o-default-report-base-color: rgb(128, 128, 128);
$o-default-report-footer-background-color: rgb(248, 252, 255);
$o-default-report-background-color: rgb(70, 195, 111);
$o-default-report-border-color: rgb(24, 112, 54);
