/* colors */
$o-default-report-primary-color: rgb(135, 0, 0);
$o-default-report-secondary-color: rgb(245, 245, 245);
$o-default-report-inverse-color: rgb(255, 255, 255);
$o-default-report-base-color: rgb(128, 128, 128);
$o-default-report-footer-background-color: rgb(248, 252, 255);
$o-default-report-background-color: rgb(236, 138, 138);
$o-default-report-border-color: rgb(147, 22, 22);
